


<script>




  $(document).ready(function () {

    var a = $("#claid").val().split(',');
    if (a!="") {
      $.each(a, function (i, item) {

        $("#dl_chose2 ").get(0).options[item].selected = true;
        $('#cla').val($('#dl_chose2').val());
      })
    }

    $(".chosen-select").chosen();

    //change 事件
    $('#dl_chose2').change(function () {
      $('#cla').val($('#dl_chose2').val());
      //alert( $('#dl_chose2').val());
    });




  });
</script>



<%= render 'layerbegin' %>
<div class="ibox-content form-horizontal m-t">
  <h3>新增类型</h3>
  <%= form_tag({controller:'busines', action:'update'}, {:method => "put",:multipart => true}) do  %>
      <br>
      <br>
      <div class="form-group">
        <label class="col-sm-5 control-label">名称：</label>
        <div class="col-sm-3">
          <%= text_field_tag :name, params[:name] %>
        </div>
      </div>

      <%= hidden_field_tag :busines,params[:busines], id:'cla'  %>
      <%= hidden_field_tag :claid,params[:claid], id:'claid'  %>
      <div class="form-group">
        <label class="col-sm-5 control-label">分类：</label>
        <div class="input-group">
          <div class="col-sm-3">
            <select id="dl_chose2" data-placeholder="选择类型" class="chosen-select" multiple style="width:300px;" tabindex="4">
              <option value="">请选择类型</option>
              <% @class.each do |cla| %>
                  <option value=<%=cla.id %> hassubinfo="true"><%= cla.classname %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-5 control-label">销量：</label>
        <div class="col-sm-3">
          <%= text_field_tag :salessum ,params[:salessum] %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">商家地址：</label>
        <div class="col-sm-3">
          <%= text_field_tag :busineaddre ,params[:busineaddre] %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">联系电话：</label>
        <div class="col-sm-3">
          <%= text_field_tag :phonenumber ,params[:phonenumber] %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">工商执照：</label>
        <div class="col-sm-3">
          <%=image_tag(@busine.businelicense.url , width:"350px")%> <%=@busine.businelicense_file_name %>
          <%=  file_field_tag  "businelicense"  %>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-5 control-label">商家logo：</label>
        <div class="col-sm-3">
          <%=image_tag(@busine.businelogo.url , width:"350px")%><%=@busine.businelogo_file_name %>
          <%=  file_field_tag "businelogo"%>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">简介：</label>
        <div class="col-sm-7">

          <%= kindeditor_tag :jianjie, :owner => @jianjie  %>

        </div>
      </div>




      <%=submit_tag '确定',class: "btn btn-w-m btn-success mylink pull-right",id:'smt' %>
  <% end %>
</div>


<%= render 'businespictures/form' %>



<%= link_to '返回', busines_path %>
<%= render 'layerend' %>










