


<%= render 'layerbegin' %>

<script>
    $(document).ready(function(){

        $('#search').click(function(){
            location.href="/users?user="+$('#login').val();
        });



    });
</script>

<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h2 class="text-center">商家入驻</h2>
      <br>
      <br>
    </div>



    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">商家名称</th>
          <th class="text-center">联系电话</th>
          <th class="text-center">商家简介</th>
          <th class="text-center">状态</th>
          <th class="text-center">备注</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>

        <% @businesssettleds.each do |businesssettleds| %>
            <tr>
              <td><%= businesssettleds.name %></td>
              <td><%= businesssettleds.phonenumber %></td>
              <td><%= businesssettleds.summary %></td>
              <td>
                <% if businesssettleds.status == '0'%>
                    未通过
                <% else %>
                    通过
                <% end %>
              </td>
              <td><%= businesssettleds.remarks %></td>
              <td>
                <%= link_to '审核', edit_businesssettled_path(businesssettleds),class:'fa fa-edit' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to '删除', businesssettleds,class:'fa fa-trash', method: :delete, data: { confirm: '您确定要删除吗?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <div class="text-center">
        总记录：<%= @businesssettledcount %>
      </div>
      <div class="text-center">
        <%= will_paginate @businesssettled, previous_label:'上一页', next_label: '下一页' %>

      </div>



      <br>
    </div>

  </div>
</div>






<%= render 'layerend' %>