
<%= render 'layerbegin' %>

<div class="ibox-content form-horizontal m-t" style="height: 1000px;">
<div class="col-md-8">

  <%= form_tag({controller:'wares', action:'update'},{ :method => "put",:multipart=>true}) do  %>

      <%= hidden_field_tag :wareid,params[:wareid], id:'wareid'  %>

      <div class="form-group">
        <label class="col-sm-2 control-label">商品名称：</label>
        <div class="col-sm-7">
          <%= text_field_tag :ware,params[:ware], class: "form-control" %>

        </div>
      </div>
      <%= hidden_field_tag :classifi,params[:classification], id:'cla'  %>
      <%= hidden_field_tag :claid,params[:claid], id:'claid'  %>
      <div class="form-group">
        <label class="col-sm-2 control-label">分类：</label>
        <div class="col-sm-7">

          <select id="dl_chose2" data-placeholder="选择类型" class="chosen-select form-control" multiple  tabindex="4">
            <option value="">请选择类型</option>
            <% @class.each do |cla| %>
                <option value=<%= cla.id %> hassubinfo="true"><%= cla.classname %></option>
            <% end %>


          </select>
        </div>
      </div>




      <div class="form-group">
        <label class="col-sm-2 control-label">原价：</label>
        <div class="col-sm-7">
          <%= text_field_tag :price,params[:price] ,class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">现价：</label>
        <div class="col-sm-7">
          <%= text_field_tag :discountprice,params[:discountprice], class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">销量：</label>
        <div class="col-sm-7">
          <%= text_field_tag :salevolume, params[:salevolume], class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">文字描述：</label>
        <div class="col-sm-7">
          <%= text_field_tag :describe,params[:describe], class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label  class="col-sm-2 control-label">主图片：</label>
        <div class="col-sm-7">
          <%= file_field_tag  "warepicture" %>
        </div>
      </div>




      <div class="form-group">
        <label class="col-sm-2 control-label">库存：</label>
        <div class="col-sm-7">
          <%= text_field_tag :stock,params[:stock], class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">运费：</label>
        <div class="col-sm-7">
          <%= text_field_tag :freight,params[:freight], class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">折扣：</label>
        <div class="col-sm-7">
          <%= text_field_tag :discount,params[:discount], class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">基础价：</label>
        <div class="col-sm-7">
          <%= text_field_tag :baseprice,params[:baseprice], class: "form-control" %>
        </div>
      </div>


      <%= submit_tag '确定', class: "btn btn-w-m btn-success mylink pull-right", id: 'smt' %>

      <br>
  <% end %>

  <%= form_for([@ware, @ware.warepictures.build],:html => {:multipart => true}) do |f| %>

      <div class="form-group">
        <label  class="col-sm-2 control-label">图片：</label>
        <div class="col-sm-7">
          <%= f.file_field :picture %>

        </div>
      </div>
      <%= submit_tag 'shangchuan' %>
  <% end%>

</div>



  <h4>图片预览</h4>
  <div class="  form-horizontal col-sm-4" >


    <div class="form-group ">
      <label class=" control-label pull-left">商品规格：</label>
      <div class="col-sm-7  ">
        <select id="dl_chose3" data-placeholder="选择规格" class="chosen-select form-control " multiple  tabindex="4">
          <option value="">请选择规格</option>
          <!--<% @class.each do |cla| %>-->
              <!--<option value=<%= cla.id %> hassubinfo="true"><%= cla.classname %></option>-->
              <!--<% end %>-->


        </select>
      </div>
      <!--<button type="button" class="btn btn-outline btn-primary">+</button>-->
      <button type="button"   class="btn btn-primary"  id="showguige" >新增</button>
      <!--<button type="button"   class="btn btn-primary"  id="showguige" >保存</button>-->

    </div>


    <div id="showdiv">


    </div>



        <div class="form-group" id="hideguige"  >
          <label class=" control-label pull-left">商品规格：</label>
          <div class="col-sm-7">
            <input id="shangpinguige" , class= "form-control" %>
          </div>
          <button type="button" class="btn btn-outline btn-primary" id="saveguige">保存</button>

        </div>




  </div>


<div id="hideguigedetail">
  <h4>规格详情</h4>
  <div class="  form-horizontal col-sm-4" >

    <div class="form-group"  >
      <label class=" control-label pull-left">标签名称：</label>
      <div class="col-sm-7">
        <input id="labelname" , class="form-control" %>
      </div>
    </div>


        <div class="form-group"  >
          <label class=" control-label pull-left">标签增价：</label>
          <div class="col-sm-7">
            <input id="increaseprice" , class="form-control" %>

          </div>
        </div>
    <input id="isselect" , class="form-control" style="display: none" %>

        <div class="icheckbox i-checks text-center">
          <label>
            <input type="checkbox" id="isselectinput" value=0 class="tixing"> <i></i> 是否默认</label>
        </div>
    <button type="button" class="btn btn-outline btn-primary" id="savedetail">保存</button>

    <input id="waretypeid" >

</div>
</div>


  </div>





  <%= render 'layerend' %>
  <script language="javascript">


    $(document).ready(function () {

      var a = $("#claid").val().split(',');
if (a!="") {
  $.each(a, function (i, item) {

    $("#dl_chose2 ").get(0).options[item].selected = true;
    $('#cla').val($('#dl_chose2').val());
  })
}

      $(".chosen-select").chosen();

      //change 事件
      $('#dl_chose2').change(function () {
        $('#cla').val($('#dl_chose2').val());
        //alert( $('#dl_chose2').val());
      });


$('#showguige').click(function(){
  $('#hideguige').show()
})

      $('#upload').click(function(){
        //alert("122")
//        $.get('http://localhost:3000//wares/upload')
//        $.ajax({ url:'http://localhost:3000//wares/upload'})
        $.ajax({
          type: 'get',
          url: '/wares/upload'
        });


      })

        $("#hideguige").hide();
      $("#hideguigedetail").hide();
     $('#saveguige').click(function(){

//       $.ajax({
//         type: 'get',
//         url: '/wares/createtype?typename='+$("#shangpinguige").val()+'&ware_id='+$('#wareid').val()
//       });
      // alert('543')
       $.getJSON('/wares/createtype', {typename:$("#shangpinguige").val(),ware_id:$('#wareid').val()}, function (data) {
//alert('213')
         $.each(data, function (i, item) {
           alert(item.waretypeid)
           $('#waretypeid').val(item.waretypeid)

         })
       });

       $('#hideguigedetail').show()

     });
      $('#savedetail').click(function(){

        $.ajax({
          type: 'get',
          url: '/wares/createwarelabel?labelname='+$("#labelname").val()+'&increaseprice='+$('#increaseprice').val()+'&isselect='+$('#isselect').val()+'&waretypeid='+$('#waretypeid').val()
        });


      });



      $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
      });

      $('#isselect').val(0)

 $('#isselectinput').on('ifChecked', function(event) {
   {
//alert("asd")
   $('#isselect').val('1')
   }
 });
      $('#isselectinput').on('ifUnchecked', function(event) {
        {

          $('#isselect').val(0)
        }
      });


//返回商品标签
      $.getJSON('/wares/renderwarebiaoqian', {ware_id:$('#wareid').val()}, function (data) {


        $.each(data.waretype, function (i, itemware) {
          var itemHTML ='<div id='+itemware.id+'>'+itemware.typename+'</div>';
          $("#showdiv").append(itemHTML);



          $.each(data.data, function (i, itemdata) {

            var itemhtml ='<div  id='+itemdata.id+'>'+itemdata.labelname+'' +

                    '<td>'+itemdata.labelname+'</td>'+
                    '<td>'+itemdata.increaseprice+'</td>'+


                '</div>';

            if(itemdata.waretype_id==itemware.id){

              $("#"+itemware.id).append(itemhtml);
            }
            //alert(itemdata.waretype_id)
          })

        })
      });


    });

  </script>
