<%= render 'layerbegin' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Questionname:</strong>
  <%= @ware.ware %>
</p>



<p>
  <strong>Questionimage:</strong>
  <%= @ware.price %>
</p>

<p>
  <strong>Voice:</strong>
  <%= @ware.discountprice %>
</p>

<p>
  <strong>Driverlicensetype:</strong>
  <%= @ware.salevolume %>
</p>

<p>
  <strong>Questiontype:</strong>
  <%= @ware.describe %>
</p>


<p>
  <strong>Questiontype:</strong>
  <%= @ware.stock %>
</p>

<p>
  <strong>Questiontype:</strong>
  <%= @ware.freight %>
</p>

<p>
  <strong>Questiontype:</strong>
  <%= @ware.discount %>
</p>
<p>
  <strong>Questiontype:</strong>
  <%= @ware.baseprice %>
</p>


<%= form_for([@ware, @ware.warepictures.build],:html => {:multipart => true}) do |f| %>

    <div class="form-group">
      <label  class="col-sm-2 control-label">图片：</label>
      <div class="col-sm-7">
        <%= f.file_field :picture %>

      </div>
    </div>
    <%= submit_tag 'shangchuan' %>
<% end%>

<%= link_to 'Back', wares_path %>
<%= render 'layerend' %>