<%= render 'layerbegin' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Questionname:</strong>
  <%= @ware.ware %>
</p>



<p>
  <strong>Questionimage:</strong>
  <%= @ware.price %>
</p>

<p>
  <strong>Voice:</strong>
  <%= @ware.discountprice %>
</p>

<p>
  <strong>Driverlicensetype:</strong>
  <%= @ware.salevolume %>
</p>

<p>
  <strong>Questiontype:</strong>
  <%= @ware.describe %>
</p>


<p>
  <strong>Questiontype:</strong>
  <%= @ware.stock %>
</p>

<p>
  <strong>Questiontype:</strong>
  <%= @ware.freight %>
</p>

<p>
  <strong>Questiontype:</strong>
  <%= @ware.discount %>
</p>
<p>
  <strong>Questiontype:</strong>
  <%= @ware.baseprice %>
</p>

<%= link_to 'Back', wares_path %>
<%= render 'layerend' %>